<!-- NG-ZORRO -->
<nz-layout>
  <nz-sider nzCollapsible nzWidth="200px">
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="Projects" nzIcon="user">
        <ul>
                <li nz-menu-item *ngFor="let project of this.projects">{{project}}</li>
        </ul>
      </li>
      <li nz-menu-item>About Me</li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <div class="inner-content">
        
      </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>
